@{
    ViewData["Title"] = "Furniture Page";
}

<!-- furniture section -->

<section class="furniture_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Our Furniture
            </h2>
            <p>
                which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't an
            </p>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Product");

        </div>
    </div>
</section>


@Html.Partial("_EndPartial")

